<h3>Hello There!</h3>
<div class="background">
  <div id="question">
    <h3><%=@user_input%></h3>
  </div>
</div>
<div class="background">
  <div id="answer">
    <h3><%=@answer%></h3>
  </div>
</div>
<p><%= link_to "Ask me another question", ask_path %></p>